{% extends "layout.twig" %}

{% block content %}

{% include "includes/header.twig" %}
<div class="bk-pt-default">
	
		<!-- Page Content -->
		<section class="template-content container">
	
			<!-- Template Widgets -->
			
			<!-- End Template Widgets -->
	
			<!-- Main Widet Zone -->
		   	{{zone('main')|raw}}
	
		</section>
		<!-- End Page Content -->

</div>
<!-- End bk-pt-default -->

{% include "includes/footer.twig" %}

{% endblock %}
